/*
<<<<<<< HEAD
Syntax error: Invalid CSS after "    &.page-id-11 {": expected "}", was "<<<<<<< HEAD"
        on line 32 of /Users/robertdavis1/Documents/My Websites/cody-prophet/sass/style.scss

Backtrace:
/Users/robertdavis1/Documents/My Websites/cody-prophet/sass/style.scss:32
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/sass-3.2.1/lib/sass/scss/parser.rb:1129:in `expected'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/sass-3.2.1/lib/sass/scss/parser.rb:1066:in `expected'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/sass-3.2.1/lib/sass/scss/parser.rb:1061:in `tok!'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/sass-3.2.1/lib/sass/scss/parser.rb:519:in `block'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/sass-3.2.1/lib/sass/scss/parser.rb:574:in `declaration_or_ruleset'
org/jruby/RubyProc.java:268:in `call'
org/jruby/RubyProc.java:228:in `call'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/sass-3.2.1/lib/sass/scss/parser.rb:1104:in `rethrow'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/sass-3.2.1/lib/sass/scss/parser.rb:575:in `declaration_or_ruleset'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/sass-3.2.1/lib/sass/scss/parser.rb:537:in `block_child'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/sass-3.2.1/lib/sass/scss/parser.rb:518:in `block'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/sass-3.2.1/lib/sass/scss/parser.rb:512:in `ruleset'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/sass-3.2.1/lib/sass/scss/parser.rb:536:in `block_child'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/sass-3.2.1/lib/sass/scss/parser.rb:529:in `block_contents'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/sass-3.2.1/lib/sass/scss/parser.rb:70:in `stylesheet'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/sass-3.2.1/lib/sass/scss/parser.rb:27:in `parse'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/sass-3.2.1/lib/sass/engine.rb:342:in `_to_tree'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/sass-3.2.1/lib/sass/engine.rb:315:in `_render'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/sass-3.2.1/lib/sass/engine.rb:262:in `render'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `compile'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `compile'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
org/jruby/RubyArray.java:1603:in `each'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
org/jruby/RubyMethod.java:133:in `call'
org/jruby/RubyProc.java:268:in `call'
org/jruby/RubyProc.java:228:in `call'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `run_callback'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/fssm-0.2.9/lib/fssm/path.rb:55:in `callback_action'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/fssm-0.2.9/lib/fssm/path.rb:35:in `update'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/fssm-0.2.9/lib/fssm/state/directory.rb:39:in `modified'
org/jruby/RubyArray.java:1603:in `each'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `modified'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/fssm-0.2.9/lib/fssm/state/directory.rb:18:in `refresh'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `run'
org/jruby/RubyArray.java:1603:in `each'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `run'
org/jruby/RubyKernel.java:1419:in `loop'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `run'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/fssm-0.2.9/lib/fssm/monitor.rb:26:in `run'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/fssm-0.2.9/lib/fssm.rb:70:in `monitor'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Applications/Scout.app/Contents/Resources/bin/compass:12:in `(root)'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"    &.page-id-11 {\": expected \"}\", was \"<<<<<<< HEAD\"\A         on line 32 of /Users/robertdavis1/Documents/My Websites/cody-prophet/sass/style.scss"; }
=======
Theme Name: Cody Prophet
Author: Robert Davis
*/
/* line 20, sass/style.scss */
body {
  padding: 0 0 45px;
  margin: 0;
  background: black url(images/about-bg.jpg) top center no-repeat;
  font: 400 14px/24px "Lato", sans-serif;
  color: #fff; }
  /* line 27, sass/style.scss */
  body.home {
    background: black url(images/home-bg.jpg) top center no-repeat; }
  /* line 31, sass/style.scss */
  body.page-id-11 {
    background: black url(images/show-bg.jpg) top center no-repeat; }
  /* line 35, sass/style.scss */
  body.page-id-15 {
    background: black url(images/testimonies-bg.jpg) top center no-repeat; }
  /* line 39, sass/style.scss */
  body a {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    text-decoration: none; }

/* line 45, sass/style.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/* line 54, sass/style.scss */
.container {
  width: 96%;
  max-width: 960px;
  margin: 0 auto; }

/* line 60, sass/style.scss */
.banner {
  padding: 35px 0 0; }
  /* line 63, sass/style.scss */
  .banner img {
    display: block;
    margin: 0 auto; }

/* line 69, sass/style.scss */
nav.menu {
  width: 100%;
  padding: 20px 0;
  height: 20px; }
  /* line 74, sass/style.scss */
  nav.menu ul {
    padding: 0;
    margin: 0;
    text-align: center; }
  /* line 80, sass/style.scss */
  nav.menu li {
    list-style-type: none;
    display: inline-block;
    padding: 0 12px; }
    /* line 85, sass/style.scss */
    nav.menu li.current_page_item a {
      color: #ac884f; }
    /* line 89, sass/style.scss */
    nav.menu li a {
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      color: #fff;
      text-transform: uppercase;
      line-height: 20px;
      font-size: 14px; }
      /* line 96, sass/style.scss */
      nav.menu li a:hover {
        color: #ac884f; }

/* line 105, sass/style.scss */
#content.home-content {
  width: 50%; }
/* line 109, sass/style.scss */
#content .entry-title {
  font: 600 48px/54px "Lato", sans-serif;
  width: 90%;
  margin: 30px 0 20px;
  color: #ac884f; }
  /* line 115, sass/style.scss */
  #content .entry-title.home-title {
    color: #c2d2c7;
    margin-top: 50px; }

/* line 122, sass/style.scss */
.button {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border-radius: 3px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  background: #ac884f;
  color: #fff;
  text-transform: uppercase;
  margin-right: 10px; }
  /* line 134, sass/style.scss */
  .button:hover {
    background: #c2d2c7;
    color: #ac884f; }
  /* line 140, sass/style.scss */
  .button.invert {
    border: 1px solid #fff;
    background: none; }
    /* line 144, sass/style.scss */
    .button.invert:hover {
      border-color: #ac884f; }

/* line 150, sass/style.scss */
.widget {
  padding: 25px 0; }

/* line 154, sass/style.scss */
.footer-widget {
  width: 300px;
  float: left;
  list-style-type: none;
  text-align: center; }
  /* line 160, sass/style.scss */
  .footer-widget:nth-child(2) {
    margin: 0 30px; }
  /* line 164, sass/style.scss */
  .footer-widget .widget-top {
    height: 35px;
    width: 100%;
    background: url(images/widget.png) top center; }
  /* line 170, sass/style.scss */
  .footer-widget .widget-bottom {
    height: 35px;
    width: 100%;
    background: url(images/widget.png) 0 35px; }
  /* line 176, sass/style.scss */
  .footer-widget .widget-body {
    width: 254px;
    padding: 5px 20px 20px;
    border-left: 3px solid #6d5835;
    border-right: 3px solid #6d5835; }
  /* line 183, sass/style.scss */
  .footer-widget .widget-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    font-size: 14px; }
  /* line 191, sass/style.scss */
  .footer-widget .textwidget {
    line-height: 20px; }
    /* line 194, sass/style.scss */
    .footer-widget .textwidget .button {
      margin: 15px auto 0;
      display: block;
      max-width: 55%; }

/* line 202, sass/style.scss */
.connect {
  font-size: 18px;
  display: inline-block;
  width: 42.6%;
  float: left; }
  /* line 208, sass/style.scss */
  .connect a {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    margin-right: 10px; }
    /* line 215, sass/style.scss */
    .connect a i {
      font-size: 24px; }
    /* line 219, sass/style.scss */
    .connect a:hover {
      color: #6d5835; }

/* line 225, sass/style.scss */
footer {
  border-top: 1px solid #555455;
  border-bottom: 1px solid #555455;
  padding: 15px 0;
  line-height: 24px; }
  /* line 231, sass/style.scss */
  footer .menu {
    padding: 0;
    margin: 0; }
  /* line 236, sass/style.scss */
  footer .menu li {
    float: left;
    list-style-type: none;
    margin-left: 15px;
    text-transform: uppercase; }
    /* line 242, sass/style.scss */
    footer .menu li.current_page_item a {
      color: #ac884f; }
    /* line 246, sass/style.scss */
    footer .menu li a {
      color: #fff;
      font-size: 12px; }
      /* line 250, sass/style.scss */
      footer .menu li a:hover {
        color: #6d5835; }

/* line 257, sass/style.scss */
.footer-img {
  display: block;
  margin: 25px auto; }

/* line 262, sass/style.scss */
#copyright {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }

/* line 269, sass/style.scss */
.about-header {
  border-bottom: 2px solid #6d5835; }
  /* line 272, sass/style.scss */
  .about-header .cody {
    display: block;
    float: left;
    margin: 0 30px 0 0; }

/* line 279, sass/style.scss */
.about {
  position: relative; }
  /* line 282, sass/style.scss */
  .about .about-content {
    width: 570px;
    float: left;
    background: #ededed;
    margin-left: 15px;
    border-radius: 0 0 15px 15px; }
    /* line 289, sass/style.scss */
    .about .about-content .inner-about-content {
      border: 3px solid #bb997b;
      border-top: 0;
      border-radius: 0px 0px 3px 3px;
      padding: 120px 20px 30px 20px;
      width: 94%;
      max-width: 460px;
      margin: 0 auto 30px;
      color: black; }
  /* line 301, sass/style.scss */
  .about .cards {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    max-width: 773px;
    height: 125px; }
  /* line 311, sass/style.scss */
  .about .pretty-thing {
    display: block;
    margin: -35px auto 15px; }
  /* line 316, sass/style.scss */
  .about #sidebar {
    width: 100%;
    max-width: 300px;
    float: right;
    margin-top: 100px; }
    /* line 322, sass/style.scss */
    .about #sidebar ul {
      padding: 0; }
      /* line 325, sass/style.scss */
      .about #sidebar ul li {
        list-style-type: none; }

/* line 332, sass/style.scss */
.show-header {
  margin-top: 260px; }

/* line 336, sass/style.scss */
.show-content {
  width: 94%;
  max-width: 380px; }

/* line 341, sass/style.scss */
.show {
  max-width: 300px;
  height: 215px;
  width: 100%;
  background: url(images/show.png);
  float: left;
  margin: 20px 0 0; }
  /* line 349, sass/style.scss */
  .show .inner {
    width: 278px;
    margin: 10px auto;
    border: 1px solid #6d5835;
    height: 193px; }
    /* line 355, sass/style.scss */
    .show .inner img {
      margin: 0 15px;
      float: left;
      display: block;
      position: relative;
      top: 50%;
      width: 87px;
      max-height: 89px;
      margin-top: -50px; }
    /* line 366, sass/style.scss */
    .show .inner .the-content {
      display: table-cell; }
    /* line 370, sass/style.scss */
    .show .inner h2 {
      color: #ac884f;
      text-transform: uppercase;
      font-size: 16px;
      width: 90%;
      margin-bottom: 0; }
    /* line 378, sass/style.scss */
    .show .inner p {
      margin-top: 0; }
    /* line 382, sass/style.scss */
    .show .inner a {
      display: block;
      color: #ac884f; }
      /* line 386, sass/style.scss */
      .show .inner a:hover {
        color: #c2d2c7; }
  /* line 393, sass/style.scss */
  .show:nth-child(2), .show:nth-child(5) {
    margin: 20px 30px 0; }

/* line 398, sass/style.scss */
.testimonies {
  margin-top: 470px; }

/* line 402, sass/style.scss */
.wpt_widget_content {
  border: 0 !important;
  border-radius: 15px;
  background: rgba(172, 136, 79, 0.3) !important;
  color: #fff !important; }
  /* line 408, sass/style.scss */
  .wpt_widget_content .tab_title.selected a {
    background: 0 !important;
    color: #ac884f !important;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-left: 0 !important; }
  /* line 417, sass/style.scss */
  .wpt_widget_content .tab_title a {
    background: 0 !important;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-left: 1px solid #ac884f !important;
    border-bottom: 1px solid #ac884f !important; }
  /* line 427, sass/style.scss */
  .wpt_widget_content .inside {
    background: 0 !important; }
    /* line 430, sass/style.scss */
    .wpt_widget_content .inside .entry-title {
      line-height: 14px !important;
      margin: -10px 0 0 0 !important; }
    /* line 435, sass/style.scss */
    .wpt_widget_content .inside a {
      font: 300 12px/14px "Lato", sans-serif;
      color: #fff; }
  /* line 442, sass/style.scss */
  .wpt_widget_content .wpt_widget_content .wpt-postmeta,
  .wpt_widget_content .wpt_comment_content, .wpt_widget_content .wpt_excerpt {
    color: #fff !important; }
>>>>>>> origin/master
